@media screen
{    
    .Button
    {
        align-items: center;
        border-bottom: solid .05em $linkColor !important;
        display: flex;
        flex-flow: row nowrap;
        line-height: 1.2;
        margin: 1em 0 1.5em;
        padding-bottom: .25em !important;
        text-decoration: none !important;
    }
    
    .Button:visited
    {
        border-bottom: solid .05em $linkColorVisited !important;
    }    

    .Button:focus path,
    .Button:hover path
    {
        fill: #fff;
    }
    
    .Button__icon
    {
        margin-right: .5em;
        width: 2em;
    }
    
    .Button__label
    {
        font-size: 1.5em;
    }
    
    .Button__icon,
    .Button__label
    {
        flex: 0 1 auto;
    }
}
