@media screen
{    
    .u-Masthead
    {
        border-bottom: 0;
        padding-bottom: 0;
    }

    .u-Masthead__siteName
    {
        font-size: 4em;
        margin: 0;
        text-align: left;
    }

    .u-Masthead__siteName--link
    {    
        background-color: hsla( 89, 50%, 34%, .9 );
        background-color: $linkColorAlpha;
        border-top-right-radius: .075em;
        border-top-left-radius: .075em;
        display: inline-block;
        line-height: 1;        
        padding: 0 1.5% .125em;
        text-shadow: 0 0 .5em #000;
    }

    .u-Masthead__siteName--link:link,
    .u-Masthead__siteName--link:visited
    {
        color: #fff;
        font-weight: normal !important;
    }

    .u-Masthead__siteName--link:focus,
    .u-Masthead__siteName--link:hover
    {    
        background-color: hsla( 0, 100%, 100%, .9 );
        color: hsla( 0, 0%, 0%, .9 );
        text-shadow: none;
    }
    
    .u-pageHome .u-Masthead__siteName--link:focus,
    .u-pageHome .u-Masthead__siteName--link:hover
    {    
        background-color: hsla( 89, 50%, 34%, .9 );
        background-color: $linkColorAlpha;
        color: #fff;
        text-shadow: 0 0 .5em #000;
    }    
}

/* Allow masthead to scale beyond root font upper limit */
$max_width: 175;
$max_font: 3; 

@media (min-width: #{$min_width}em) and (max-width: #{$max_width}em)
{
    .u-Masthead
    {
        font-size: calc(#{$min_font}em + (#{$max_font} - #{$min_font}) * ( (100vw - #{$min_width}em) / ( #{$max_width} - #{$min_width})));
      }
}

@media (min-width: #{$max_width}em)
{
    .u-Masthead
    { 
        font-size: #{$max_font}em !important;
    }
}
/* Allow masthead to scale beyond root font upper limit */
