@media screen
{    
    .u-lMain
    {
        float: right;
        margin-top: 20em;
    }

    .u-NavSite
    {
        display: block;
        padding: 0;
        /* hide outline around nav when current page is focused */ 
        outline: none;
        position: absolute;
        visibility: visible;
        width: 100%;
    }

    .u-NavSite__item
    {
        font-size: 1.2em;
        font-weight: normal;
        flex: 0 1 auto;
        line-height: 1;
        padding: .75em;
        text-align: center;
    }

    .u-NavSite__item,
    .u-NavSite__item:visited
    {
        color: $vassarColor;
        color: $linkColorMuted;
    }

    .u-NavSite__item:focus,
    .u-NavSite__item:hover
    {
        border-bottom: 0;
    }

    .u-NavSite__item:focus,
    .u-NavSite__item:hover,
    .u-NavSite__item--isCurrent,
    .u-NavSite__item--isCurrent:visited
    {
        background-color: hsl(89, 47%, 34%);
        background-color: $titleColor;
        color: #fff;
    }

    .u-NavSite__item:not(.u-NavSite__item--isCurrent):focus,
    .u-NavSite__item:not(.u-NavSite__item--isCurrent):hover
    {
        margin-bottom: -.25em;
        padding-bottom: 1em;
    }
    
    .u-NavSite__item--isCurrent
    {
        background-color: #000;
        background-color: #777677;
        background-color: #fff !important;
        border-bottom: solid .15em $titleColor;
        border-bottom: solid .15em hsl( 122, 10%, 60% ) !important;
        color: #c1b5b0;
        color: #fff;
        color: $titleColor !important;
    }
        
    .u-NavSite__level
    {
        display: flex;
        flex-flow: column nowrap;
        flex-flow: row wrap;
        justify-content: center;
    }
}

@media screen and (min-width: $small)
{
    .u-NavSite__level
    {
        flex-flow: row wrap;
        justify-content: center;
    }
    
    .u-NavSite__level--1 .u-NavSite__item
    {
        font-size: 1.2em;
    }
}

@media screen and (min-width: $medium)
{    
    .u-lMain
    {
        float: right;
    }    
}

@media screen and (min-width: 62em)
{
    .u-NavSite
    {
        left: 0;
        margin: 0 auto;
        max-width: 70em;
        position: absolute;
        right: 0;
        width: 100%;
    }

    .u-NavSite__item
    {
        float: left;
        text-align: center;
        white-space: nowrap;
    }
}

@media screen and (min-width: 13em)
{
    .u-lMain
    {
        margin-top: 16em;
    }    
}

@media screen and (min-width: 21em)
{
    .u-lMain
    {
        margin-top: 12em;
    }    
}

@media screen and (min-width: 26em)
{
    .u-lMain
    {
        margin-top: 8em;
    }    
}

@media screen and (min-width: $small)
{
    .u-lMain
    {
        margin-top: 6em;
    }
}

@media screen and (min-width: 60em)
{
    .u-lMain
    {
        margin-top: 4em;
    }    
}
