.SocialAccount__iconList svg:hover path[fill],
.SocialAccount__iconList svg:focus path[fill],
.SocialAccount__iconList svg:hover rect[fill^="#fff"],
.SocialAccount__iconList svg:focus rect[fill^="#fff"]
{
	fill: #ccc;
}

.SocialAccount__iconList svg:hover circle[fill],
.SocialAccount__iconList svg:focus cicle[fill],
.SocialAccount__iconList svg:hover path[fill^="#fff"],
.SocialAccount__iconList svg:focus path[fill^="#fff"],
.SocialAccount__iconList svg:hover path[fill^="#666"],
.SocialAccount__iconList svg:focus path[fill^="#666"]
{
	fill: #333;
}

.SocialAccount__iconTarget circle[fill],
.SocialAccount__iconTarget path[fill="#fff"],
.SocialAccount__iconTarget path[fill="#666"],
.SocialAccount__iconTarget rect[stroke="#000"]
{
    transition: 1s ease-out;
    transform-origin: center center;
}

.SocialAccount__iconTarget svg:hover circle[fill],
.SocialAccount__iconTarget svg:hover path[fill="#fff"],
.SocialAccount__iconTarget svg:hover path[fill="#666"],
.SocialAccount__iconTarget svg:hover rect[stroke="#000"]
{
    transform: rotate(360deg);
}

.u-lFooter .SocialAccount__iconTarget:visited:focus,
.u-lFooter .SocialAccount__iconTarget:visited:hover,
.u-lFooter .SocialAccount__iconTarget:focus,
.u-lFooter .SocialAccount__iconTarget:hover
{
    background-color: transparent;
}
