

$backgroundFooterColor: hsla( 0, 5%, 5%, .825 );
$colorVisitedFooter: hsl( 20, 25%, 52% );
$colorVisitedFooter: hsl( 0, 5%, 52% );

$linkColor: hsl( 0, 100%, 42% );
$linkColor: hsl( 122, 100%, 27% );
$linkColorMuted: hsl( 122, 50%, 27% );
$linkColorAlpha: hsla( 122, 100%, 27%, .9 );
$linkColorAlpha: hsla( 122, 50%, 27%, .9 );
$linkColorAlpha: hsla( 122, 0%, 0%, .85 );

$linkColorAlphaFocusHover: hsla( 122, 50%, 27%, .9 );
$linkColorHover: #fff;
$linkColorHoverBackground: $linkColor;
$linkColorVisited: hsl( 0, 33%, 53% );
$linkColorVisited: hsl( 290, 17%, 49% );
$linkColorVisitedHoverBackground: $linkColorVisited;
$linkColorActiveBackground: hsl(24, 87%, 50%);

$titleColor: hsl( 89, 50%, 34% );
$titleColor: hsl( 122, 40%, 25% );

$vassarColor: #882344;

